* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cinzel Decorative";
    src: url("./assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #121212;

    font-family: "Montserrat", sans-serif;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #121212;
    position: fixed;
    padding: 0 13vw;

    height: 120px;
    width: 100%;
    z-index: 10;
    top: 0;
    margin-top: 0px;
    padding: 0 20px;

    overflow: visible;
}

header::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(18,18,18,1), rgba(18,18,18,0));
    pointer-events: none;
}

header > .logo {
    margin-right: 50px;
}

.logo {
    height: 10vh;
}

nav {
    display: flex;
    gap: 50px;
}

button {
    background: none;
    font-size: 1.5rem;
    color: white;
    border: none;
    font-family: "Montserrat";
    padding: 20px;

    transition: all 0.25s ease;
    cursor: pointer;
}

button:hover {
    background: #D4AF3780;
}

#reserve {
    background: #222222;
    font-weight: 700;
}

#reserve:hover {
    background: #D4AF37;
}

.home-section {
    height: 90vh;
    width: 100vw;
    padding: 30px;
}

#home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    text-align: right;
    padding: 13vw;

    background: url("./assets/yasmine-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    overflow: hidden;

    filter: grayscale(100%);
}

#home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #121212 100%);
    z-index: 1;
}

#home > h1 {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: "Cinzel Decorative";
    margin-top: 12%;
}

#home > p {
    font-size: 1.5rem;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw;
}

#story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15px;

    width: 30vw;
    height: 80%;
    padding: 3vw;

    font-size: 1.2rem;

    background-color: #000000c5;

    position: absolute;

    z-index: 9;
}

h3 {
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#slider-container {
  overflow: hidden;
  width: 100vw;
  height: 70vh;
  position: relative;

  z-index: 0;
}

#slider-track {
  display: flex;
  height: 100%;
  will-change: transform;
  gap: 50px;
}

.slider-img {
  flex-shrink: 0;
  width: 3s0vw;
  height: 100%;
  object-fit: cover;
}

#footer {
    display: flex;
    height: 5vh;
}